{% extends 'home.html' %}

{% block cont %}
<style>
    .message-container {
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  
    .message-updated {
      font-size: 12px;
      color: #888;
    }
  
    .delete-room {
      font-weight: bold;
      color: red;
      margin-top: 20px;
    }
  
    .user-list {
      float: right;
      padding: 10px;
      border-radius: 5px;
      width: 200px;
    }
  
    .user-list p {
      margin: 5px 0;
    }
  </style>
  
<h1>Hello from room: {{ rooms.name }}</h1>

<a href="{% url 'blog:message-create' rooms.name %}">Leave a message</a>

<h2>Messages:</h2>
{% if request.user.username == "nick" %}
{{request.user}}
{% endif %}
{% for message in messages %}
  <div class="message-container">
    <p>
      {% if request.user == message.user or request.user.username == "nick" %}
      
      @{{ message.user }} - {{ message.msg }}
       <br>answers:
            {% for ans in answers %}  
            {% if ans.msg.msg == message.msg %}
            <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if ans.user ==  request.user or request.user.username == "nick" %}
            {{ans.user}}: {{ans.answer}} <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href = "{% url 'blog:EditAns' rooms.name ans.id %}">Edit</a> <a href = "{% url 'blog:DelAns' rooms.name ans.id%}">Delete</a>
            {% else %}
            {{ans.user}}: {{ans.answer}}
            {% endif %}
            {% endif %}
            {% endfor %}
           <p></p>
      <a href="{% url 'blog:EditMessage' rooms.name message.id %}">Edit</a>
      <a href="{% url 'blog:DeleteMessage' message.room.name message.id %}">Delete</a>
      <p><a href="{% url 'blog:AnswerToMessage' message.room.name message.id %}">Answer</a></p>
      
      {% else %}
    
      @{{ message.user }} - {{ message.msg }}
      <br>answers:
      {% for ans in answers %}  
      {% if ans.msg.msg == message.msg %}
      <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {% if ans.user ==  request.user or request.user.username == "nick" %}
      {{ans.user}}: {{ans.answer}} <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href = "{% url 'blog:EditAns' rooms.name ans.id %}">Edit</a> <a href = "{% url 'blog:DelAns' rooms.name ans.id%}">Delete</a>
      {% else %}
      {{ans.user}}: {{ans.answer}}
      {% endif %}
      {% endif %}
      {% endfor %}
     <p></p>

      <p><a href="{% url 'blog:AnswerToMessage' message.room.name message.id %}">Answer</a></p>
    
      {% endif %}
    </p>
    <p class="message-updated">{{ message.updated }}</p>
  </div>
  <br>
{% endfor %}

<hr>

{% if request.user.username == 'nick' %}
  <p class="delete-room">To delete room {{ rooms.name }}, press this link: 
    <a href="{% url 'blog:delete' rooms.name %}">Delete</a>
  </p>
{% endif %}

<hr>
<div class="user-list">
<h2>Users in the room:</h2>

  {% for part in participants %}
  <p>{{ part }}</p>
  {% endfor %}
</div>

{% endblock %}

